* {
  padding: 0;
  margin: 0;
}

body {
  background: no-repeat url("../img/neon.jpg");
  background-size: cover;
}

.container {
  width: 65vw;
  margin: 2vh auto;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  color: #fff;
  font-family: 'Muli', sans-serif;
  background-size: 100px;
  padding: 0 5rem;
}

aside {
  display: inline-block;
  width: 30vw;
}

.content {
  display: flex;
}

main {
  padding-left: 3rem;
  width: 35vw;
}

header {
  text-align: center;
  font-size: 1.7rem;
  padding: 1.5rem;
  border-bottom: 1px solid white;
  margin-bottom: 2.5rem;
}

img {
  display: inline-block;
  width: 20rem;
  border-radius: 0.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.fas,
.far {
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-right: 0;
}

.info {
  font-size: 1.3rem;
  margin-left: 1rem;
}

.about {
  text-align: justify;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.contact-info {
  margin: 1rem 0 1rem;
  text-decoration: none;
  color: #fff;
}

.contacts-header {
  margin: 3rem 0 1rem;
  text-decoration: underline;
}

ul {
  list-style: none;
  display: inline-block;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.4rem;
}

.contact:hover {
  margin-left: 1rem;
  transform: scale(1.15);
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-item {
  transition: all 0.2s ease-in-out;
}

.project-item:hover {
  transform: scale(1.15);
  margin-left: 2.5rem;
  cursor: pointer;
}

.contact-icon {
  width: 2.5rem;
  margin-right: 0.8rem;
}

.section {
  margin-top: 2rem;
}

.logo {
  background-color: #fff;
  opacity: 0.8;
}

.logo:hover {
  opacity: 1;
  transform: scale(1.4);
}

.logo-rs {
  height: 2.6rem;
  width: 2.6rem;
  padding-right: 0.3rem;
  float: left;
  margin-left: 0.6rem;
}

.logo-git {
  padding: 0.1rem;
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 2rem;
  float: left;
}

span.created {
  display: block;
  float: right;
  margin-right: 5rem;
  color: #aaa;
}

footer {
  width: 65vw;
  border-top: 1px solid #444;
  padding-top: 1.5rem;
  margin: 10rem auto 2.5rem;
}


