* {
  padding: 0;
  margin: 0;
}

body {
  background: no-repeat url("../img/neon.jpg");
  background-size: cover;
}

.container {
  width: 80vw;
  margin: 5vh auto;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  color: #fff;
  font-family: 'Muli', sans-serif;
  background-size: 100px;
  padding: 3rem;
}

.header {

}

img {
  display: inline-block;
  width: 20rem;
  border-radius: 0.5rem;
}

ul {
  list-style: none;
}

.contact-info {
  padding-left: 1rem;

}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-icon {
  width: 3rem;
}


.logo {
  background-color: #fff;
  opacity: 0.8;

}

.logo:hover {
  opacity: 1;
}

.logo-rs {
  height: 2.6rem;
  width: 2.6rem;
}

.logo-git {
  padding: 0.1rem;
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 10rem;
  margin-right: 0.5rem;
  float: left;
}

span.created {
  display: block;
  float: right;
  margin-right: 10px;
}

footer {
  width: 80vw;
  margin: 1vh auto;
  display: inline-block;
}


